@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --Green-500: hsl(171, 66%, 44%);
    --Green-shadow: hsl(160, 68%, 36%);
    --Blue-100: hsl(233, 100%, 69%);
    --Blue-shadow: hsl(232, 65%, 58%);
    --Gray-700: hsl(210, 10%, 33%);
    --Gray-500: hsl(201, 11%, 66%);
    --White: hsl(0, 0%, 100%);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}

html{
    font-size: 18px;
}

body{
    font-family: "Bai Jamjuree", sans-serif;
}

.container{
    width: 100%;
    background-image: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.hero,
.services{
    width: 85vw;
    height: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.services{
    height: auto;
    gap: 100px;
}

.hero__logo{
    width: 120px;
}

.hero__tittle,
.services__title{
    font-size: 1.5rem;
    color: var(--Gray-700);
    font-weight: 600;
}

.hero__description,
.services__description{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--Gray-500);
    line-height: 25px;
}

.service,
.services__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.download__button{
    max-width: 320px;
    width: 80vw;
    height: 50px;
    border-radius: 30px;
    color: var(--White);
    border: none;
    font-size: 1rem;
}

.download__button--iOS{
    background-color: var(--Green-500);
    box-shadow: 0px 3px 1px var(--Green-shadow);
}

.download__button--Mac{
    background-color: var(--Blue-100);
    box-shadow: 0px 3px 1px var(--Blue-shadow);
}

img{
    width: 300px;
}
